<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ SITENAME }} - {{ SITESUBTITLE }}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% assets filters="cssmin", output="css/style.min.css", "css/pygment.css", "css/main.css" %}
        <link rel="stylesheet" href="{{ SITEURL }}/{{ ASSET_URL }}">
    {% endassets %}
    <!-- <link rel="stylesheet" href="/theme/css/main.css">
    <link rel="stylesheet" href="/theme/css/pygment.css"> -->
    {% block header_extras %}{% endblock %}

    {% include '_includes/google_analytics.html' %}
</head>
<body>

    <div id="main">

        <header role="banner">{% include '_includes/header.html' %}</header>
        <hr>
        <nav role="navigation">{% include '_includes/navbar.html' %}</nav>
        <hr id="hr-nav">

        <div id="content">
            {% block content %}{% endblock %}
        </div>

        <hr id="hr-footer">
        <footer>{% include '_includes/footer.html' %}</footer>
    </div>

</body>
</html>
